<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component"
		label="Options"
		description="Global options">

		<field
			name="server_url"
			type="text"
			label="Server URL"
			description="The server where the hash files are located." />

	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_jmd5check"
			section="component" />
	</fieldset>
</config>
